<!DOCTYPE html>
<html>
<head>
  <title>SimplifyRailsExample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://www.simplify.com/commerce/v1/simplify.js' %>
  <!-- <= javascript_include_tag 'payment', 'data-turbolinks-track' => true %> -->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
